**

!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!LICENSE-APACHE
!LICENSE-GPL

!.cargo/
!.cargo/collab-config.toml

!crates/
!crates/**
!extensions/
!extensions/**
!tooling/
!tooling/**
!assets/
!assets/**
!script/
!script/**

**/.git
**/.git/**
**/target
**/target/**
**/.workbuddy
**/.workbuddy/**
**/.env
**/.env.*
**/*.pem
**/*.key
**/.npmrc
**/.pypirc
**/.cargo/credentials
**/.cargo/credentials.toml
**/node_modules
**/node_modules/**
